In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = df.iloc[:,3:13]
Y = df.iloc[:,13]

In [6]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [9]:
X = pd.get_dummies(X,drop_first= True)

In [10]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [12]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size= 0.6)

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain_fit = sc.fit_transform(xtrain)
xtest_transform = sc.transform(xtest)

In [13]:
import keras

In [15]:
from keras.models import Sequential

In [16]:
from keras.layers import Dense,ReLU,Dropout

In [42]:
classifier = Sequential()

In [43]:
classifier.add(keras.Input(shape=(11,)))

In [44]:
classifier.add(Dense(units = 6,activation = 'relu', kernel_initializer='he_uniform'))

In [45]:
classifier

In [46]:
classifier.add(Dense(units = 6,activation = 'relu', kernel_initializer='he_uniform'))

In [47]:
classifier.add(Dense(units = 1,activation = 'sigmoid', kernel_initializer='glorot_uniform'))

In [48]:
classifier.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 6)                 72

 dense_12 (Dense)            (None, 6)                 42

 dense_13 (Dense)            (None, 1)                 7

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [49]:
#compiling the ANN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [50]:
model_history = classifier.fit(x = xtrain_fit, y = ytrain,batch_size=10, epochs=100)

Epoch 1/100
400/400 [==============================] - 2s 974us/step - loss: 0.5828 - accuracy: 0.7115
Epoch 2/100
400/400 [==============================] - 0s 804us/step - loss: 0.4798 - accuracy: 0.7928
Epoch 3/100
400/400 [==============================] - 0s 693us/step - loss: 0.4581 - accuracy: 0.7928
Epoch 4/100
400/400 [==============================] - 0s 701us/step - loss: 0.4484 - accuracy: 0.7925
Epoch 5/100
400/400 [==============================] - 0s 701us/step - loss: 0.4422 - accuracy: 0.7930
Epoch 6/100
400/400 [==============================] - 0s 717us/step - loss: 0.4378 - accuracy: 0.7918
Epoch 7/100
400/400 [==============================] - 0s 697us/step - loss: 0.4346 - accuracy: 0.7930
Epoch 8/100
400/400 [==============================] - 0s 698us/step - loss: 0.4315 - accuracy: 0.7943
Epoch 9/100
400/400 [==============================] - 0s 714us/step - loss: 0.4291 - accuracy: 0.7968
Epoch 10/100
400/400 [==============================] - 0s 711us/step - loss: 0.4269 - accuracy: 0.7975
Epoch 11/100
400/400 [==============================] - 0s 706us/step - loss: 0.4248 - accuracy: 0.8033
Epoch 12/100
400/400 [==============================] - 0s 701us/step - loss: 0.4220 - accuracy: 0.8092
Epoch 13/100
400/400 [==============================] - 0s 714us/step - loss: 0.4198 - accuracy: 0.8163
Epoch 14/100
400/400 [==============================] - 0s 727us/step - loss: 0.4175 - accuracy: 0.8150
Epoch 15/100
400/400 [==============================] - 0s 719us/step - loss: 0.4150 - accuracy: 0.8192
Epoch 16/100
400/400 [==============================] - 0s 808us/step - loss: 0.4116 - accuracy: 0.8265
Epoch 17/100
400/400 [==============================] - 0s 729us/step - loss: 0.4081 - accuracy: 0.8295
Epoch 18/100
400/400 [==============================] - 0s 841us/step - loss: 0.4033 - accuracy: 0.8313
Epoch 19/100
400/400 [==============================] - 0s 760us/step - loss: 0.3990 - accuracy: 0.8357
Epoch 20/100
400/400 [==============================] - 0s 795us/step - loss: 0.3939 - accuracy: 0.8385
Epoch 21/100
400/400 [==============================] - 0s 748us/step - loss: 0.3896 - accuracy: 0.8415
Epoch 22/100
400/400 [==============================] - 0s 814us/step - loss: 0.3848 - accuracy: 0.8403
Epoch 23/100
400/400 [==============================] - 0s 807us/step - loss: 0.3793 - accuracy: 0.8447
Epoch 24/100
400/400 [==============================] - 0s 772us/step - loss: 0.3743 - accuracy: 0.8470
Epoch 25/100
400/400 [==============================] - 0s 753us/step - loss: 0.3692 - accuracy: 0.8480
Epoch 26/100
400/400 [==============================] - 0s 750us/step - loss: 0.3644 - accuracy: 0.8522
Epoch 27/100
400/400 [==============================] - 0s 844us/step - loss: 0.3611 - accuracy: 0.8528
Epoch 28/100
400/400 [==============================] - 0s 1ms/step - loss: 0.3578 - accuracy: 0.8543
Epoch 29/100
400/400 [==============================] - 0s 958us/step - loss: 0.3556 - accuracy: 0.8515
Epoch 30/100
400/400 [==============================] - 0s 655us/step - loss: 0.3530 - accuracy: 0.8537
Epoch 31/100
400/400 [==============================] - 0s 640us/step - loss: 0.3521 - accuracy: 0.8580
Epoch 32/100
400/400 [==============================] - 0s 638us/step - loss: 0.3502 - accuracy: 0.8543
Epoch 33/100
400/400 [==============================] - 0s 642us/step - loss: 0.3492 - accuracy: 0.8555
Epoch 34/100
400/400 [==============================] - 0s 632us/step - loss: 0.3484 - accuracy: 0.8553
Epoch 35/100
400/400 [==============================] - 0s 642us/step - loss: 0.3471 - accuracy: 0.8570
Epoch 36/100
400/400 [==============================] - 0s 647us/step - loss: 0.3462 - accuracy: 0.8580
Epoch 37/100
400/400 [==============================] - 0s 648us/step - loss: 0.3465 - accuracy: 0.8575
Epoch 38/100
400/400 [==============================] - 0s 634us/step - loss: 0.3457 - accuracy: 0.8583
Epoch 39/100
400/400 [==============================] - 0s 640us/step - loss: 0.3452 - accuracy: 0.8583
Epoch 40/100
400/400 [==============================] - 0s 656us/step - loss: 0.3440 - accuracy: 0.8585
Epoch 41/100
400/400 [==============================] - 0s 634us/step - loss: 0.3444 - accuracy: 0.8583
Epoch 42/100
400/400 [==============================] - 0s 635us/step - loss: 0.3445 - accuracy: 0.8570
Epoch 43/100
400/400 [==============================] - 0s 632us/step - loss: 0.3442 - accuracy: 0.8587
Epoch 44/100
400/400 [==============================] - 0s 640us/step - loss: 0.3434 - accuracy: 0.8590
Epoch 45/100
400/400 [==============================] - 0s 640us/step - loss: 0.3428 - accuracy: 0.8585
Epoch 46/100
400/400 [==============================] - 0s 637us/step - loss: 0.3433 - accuracy: 0.8580
Epoch 47/100
400/400 [==============================] - 0s 634us/step - loss: 0.3438 - accuracy: 0.8583
Epoch 48/100
400/400 [==============================] - 0s 636us/step - loss: 0.3425 - accuracy: 0.8590
Epoch 49/100
400/400 [==============================] - 0s 635us/step - loss: 0.3425 - accuracy: 0.8597
Epoch 50/100
400/400 [==============================] - 0s 656us/step - loss: 0.3433 - accuracy: 0.8583
Epoch 51/100
400/400 [==============================] - 0s 636us/step - loss: 0.3429 - accuracy: 0.8585
Epoch 52/100
400/400 [==============================] - 0s 640us/step - loss: 0.3418 - accuracy: 0.8597
Epoch 53/100
400/400 [==============================] - 0s 629us/step - loss: 0.3428 - accuracy: 0.8610
Epoch 54/100
400/400 [==============================] - 0s 627us/step - loss: 0.3422 - accuracy: 0.8620
Epoch 55/100
400/400 [==============================] - 0s 637us/step - loss: 0.3423 - accuracy: 0.8587
Epoch 56/100
400/400 [==============================] - 0s 637us/step - loss: 0.3429 - accuracy: 0.8575
Epoch 57/100
400/400 [==============================] - 0s 934us/step - loss: 0.3418 - accuracy: 0.8575
Epoch 58/100
400/400 [==============================] - 0s 648us/step - loss: 0.3419 - accuracy: 0.8577
Epoch 59/100
400/400 [==============================] - 0s 885us/step - loss: 0.3423 - accuracy: 0.8612
Epoch 60/100
400/400 [==============================] - 0s 990us/step - loss: 0.3419 - accuracy: 0.8595
Epoch 61/100
400/400 [==============================] - 0s 821us/step - loss: 0.3424 - accuracy: 0.8580
Epoch 62/100
400/400 [==============================] - 0s 983us/step - loss: 0.3415 - accuracy: 0.8587
Epoch 63/100
400/400 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8620
Epoch 64/100
400/400 [==============================] - 0s 753us/step - loss: 0.3414 - accuracy: 0.8593
Epoch 65/100
400/400 [==============================] - 0s 736us/step - loss: 0.3415 - accuracy: 0.8597
Epoch 66/100
400/400 [==============================] - 0s 737us/step - loss: 0.3420 - accuracy: 0.8583
Epoch 67/100
400/400 [==============================] - 0s 762us/step - loss: 0.3413 - accuracy: 0.8602
Epoch 68/100
400/400 [==============================] - 0s 756us/step - loss: 0.3413 - accuracy: 0.8597
Epoch 69/100
400/400 [==============================] - 0s 775us/step - loss: 0.3413 - accuracy: 0.8585
Epoch 70/100
400/400 [==============================] - 0s 791us/step - loss: 0.3413 - accuracy: 0.8583
Epoch 71/100
400/400 [==============================] - 0s 762us/step - loss: 0.3407 - accuracy: 0.8585
Epoch 72/100
400/400 [==============================] - 0s 753us/step - loss: 0.3411 - accuracy: 0.8615
Epoch 73/100
400/400 [==============================] - 0s 761us/step - loss: 0.3394 - accuracy: 0.8600
Epoch 74/100
400/400 [==============================] - 0s 744us/step - loss: 0.3413 - accuracy: 0.8590
Epoch 75/100
400/400 [==============================] - 0s 746us/step - loss: 0.3411 - accuracy: 0.8565
Epoch 76/100
400/400 [==============================] - 0s 781us/step - loss: 0.3406 - accuracy: 0.8593
Epoch 77/100
400/400 [==============================] - 0s 771us/step - loss: 0.3410 - accuracy: 0.8583
Epoch 78/100
400/400 [==============================] - 0s 893us/step - loss: 0.3408 - accuracy: 0.8608
Epoch 79/100

400/400 [==============================] - 0s 879us/step - loss: 0.3410 - accuracy: 0.8583
Epoch 80/100
400/400 [==============================] - 0s 653us/step - loss: 0.3411 - accuracy: 0.8583
Epoch 81/100
400/400 [==============================] - 1s 1ms/step - loss: 0.3401 - accuracy: 0.8587
Epoch 82/100
400/400 [==============================] - 0s 731us/step - loss: 0.3406 - accuracy: 0.8605
Epoch 83/100
400/400 [==============================] - 0s 892us/step - loss: 0.3405 - accuracy: 0.8585
Epoch 84/100
400/400 [==============================] - 0s 653us/step - loss: 0.3408 - accuracy: 0.8600
Epoch 85/100
400/400 [==============================] - 0s 659us/step - loss: 0.3403 - accuracy: 0.8593
Epoch 86/100
400/400 [==============================] - 0s 661us/step - loss: 0.3403 - accuracy: 0.8580
Epoch 87/100
400/400 [==============================] - 0s 674us/step - loss: 0.3406 - accuracy: 0.8608
Epoch 88/100
400/400 [==============================] - 0s 665us/step - loss: 0.3400 - accuracy: 0.8568
Epoch 89/100
400/400 [==============================] - 0s 668us/step - loss: 0.3399 - accuracy: 0.8590
Epoch 90/100
400/400 [==============================] - 0s 684us/step - loss: 0.3402 - accuracy: 0.8587
Epoch 91/100
400/400 [==============================] - 0s 661us/step - loss: 0.3396 - accuracy: 0.8577
Epoch 92/100
400/400 [==============================] - 0s 658us/step - loss: 0.3395 - accuracy: 0.8585
Epoch 93/100
400/400 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8577
Epoch 94/100
400/400 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8587
Epoch 95/100
400/400 [==============================] - 0s 830us/step - loss: 0.3386 - accuracy: 0.8602
Epoch 96/100
400/400 [==============================] - 0s 662us/step - loss: 0.3403 - accuracy: 0.8600
Epoch 97/100
400/400 [==============================] - 0s 657us/step - loss: 0.3399 - accuracy: 0.8600
Epoch 98/100
400/400 [==============================] - 0s 689us/step - loss: 0.3402 - accuracy: 0.8575
Epoch 99/100
400/400 [==============================] - 0s 827us/step - loss: 0.3393 - accuracy: 0.8593
Epoch 100/100
400/400 [==============================] - 0s 954us/step - loss: 0.3400 - accuracy: 0.8600

In [63]:
ypred = classifier.predict(xtest_transform)

In [58]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [64]:
ypred = (ypred > 0.5)

In [65]:
cm = confusion_matrix(ytest,ypred)

In [66]:
cm

array([[4507,  285],
       [ 592,  616]], dtype=int64)

In [67]:
score = accuracy_score(ypred,ytest)

In [68]:
score

0.8538333333333333